<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{sites/fragments/general.html :: head(subject='Secret Commander Information')}"></head>

<body>
<main id="main">
    <h1 th:text="${applicationName}">Secret Commander Backend</h1>
    <section>
        <h2>Application Information</h2>
        <table>
            <tr>
                <th>Version</th>
                <td th:text="${version}">1.0.0</td>
            </tr>
            <tr>
                <th>Environment</th>
                <td th:text="${environment}">PRD</td>
            </tr>
            <tr>
                <th>Build Date</th>
                <td th:text="${#dates.format(buildDate, 'dd.MM.yyyy HH:mm:ss')}">19.03.2023 00:00:00</td>
            </tr>
            <tr>
                <th>Uptime</th>
                <td th:text="${uptime}">1 minute, 5 seconds</td>
            </tr>
            <tr>
                <th>Time</th>
                <td th:text="${#dates.format(time, 'dd.MM.yyyy HH:mm:ss')}">19.03.2023 00:00:00</td>
            </tr>
        </table>
    </section>

    <section>
        <h2>System Information</h2>
        <table>
            <tr>
                <th>Java Version</th>
                <td th:text="${javaVersion}">1.8.0_212</td>
            </tr>
            <tr>
                <th>Java Vendor</th>
                <td th:text="${javaVendor}">Oracle Corporation</td>
            </tr>
            <tr>
                <th>OS Name</th>
                <td th:text="${osName}">Linux</td>
            </tr>
            <tr>
                <th>OS Version</th>
                <td th:text="${osVersion}">4.15.0-58-generic</td>
            </tr>
            <tr>
                <th>User Timezone</th>
                <td th:text="${timezone}">Europe/Zuerich</td>
            </tr>
        </table>
    </section>
</main>
</body>

</html>
