<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(subject)">
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="${subject}">Secret Commander Information</title>
    <style>
        body {
            font-family: "OpenSans", Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin: 0 auto;
        }

        main {
            margin: 20px;
        }

        section {
            margin: 20px 0;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            margin-top: 0;
            font-size: 18px;
            color: #3f4d59;
            border-bottom: 1px solid #3f4d59;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            vertical-align: top;
            text-align: left;
            width: 250px;
            padding: 2px 0;
        }

        td {
            vertical-align: top;
            word-wrap: break-word;
            white-space: pre-line;
            padding: 2px 0;
        }
    </style>
</head>

<body>
<table>
    <tr>
        <td id="main"></td>
    </tr>
    <tr>
        <td id="footer">
            <table style="
              background-color: #071a3f;
              color: #ffffff;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
            " th:fragment="footer()">
                <tr>
                    <td>
                        <p>Secret Commander</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>